! terminal colors ------------------------------------------------------------
! Tango colorscheme
*foreground: white
*background: black

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          512
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true


URxvt.lineSpace: 1
URxvt.font: xft:Inconsolata:size=10,xft:Inconsolata\ for\ Powerline:size=10
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
! URxvt.transparent: true
URxvt.shading: 15
URxvt.perl-ext-common: resize-font

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
